RewriteEngine On # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/?$ $1.php [NC,L]
RewriteRule ^([^/]+)/([0-9]+)/?$ $1.php?id=$2 [NC,L]
